<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container _about">
		<h1>Don't know Sunny??</h1>
		<br>
		<h1>Want to know Sunny??</h1>
		<br><br>
		<a href="https://en.wikipedia.org/wiki/Sunny_Leone" target="_blank">click me to know more about Sunny!!</a>
	</div>
</body>
</html>



