<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container home_page">
    <br><br><br>
    	<div class="center jumbotron">
    	<h1>Welcome to Sunny's World !!</h1>
    	<br>
		<p>Get the solution to all your problems.</p>
		<br>
		<br><br>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
		<br>
		<h3>Hurry up!! First 10 Sign Ups will get a chance to meet Sunny.</h3>
		</div>
	</div>
</body>
</html>


