<% unless current_customer?(@customer) %>
  <div id="follow_form">
  <% if current_customer.following?(@customer) %>
    <%= render 'shared/unfollow' %>
  <% else %>
    <%= render 'shared/follow' %>
  <% end %>
  </div>
<% end %>