<footer class="footer">
  <small>
    The <a href="">Entertainment site</a>
    by <a href="https://github.com/shreek271/">Shreenandan Kumar</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://en.wikipedia.org/wiki/Salman_Khan">News</a></li>
    </ul>
  </nav>
</footer>